.leaflet-draw-toolbar a {
  background-image: url('images/spritesheet.png');
  background-size: 330px 30px;
}

.leaflet-retina .leaflet-draw-toolbar a {
  background-image: url('images/spritesheet-2x.png');
}

.leaflet-draw-toolbar .leaflet-draw-edit-buffer {
  background-position: -272px -2px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-buffer {
  background-position: -270px -1px;
}

.leaflet-draw-toolbar .leaflet-draw-edit-buffer.leaflet-disabled {
  background-position: -302px -2px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-edit-buffer.leaflet-disabled {
  background-position: -300px -1px;
}
